# Exclude target & classes :
target
*/target
*/*/target
*.class
*.jar
*.gz


# Exclude Eclipse config files
.settings
.classpath
.project
*.db

# Exclude IDEA config files
.idea
*.iml
*.metadata

# Exclude archive
*.log
log.*
git.properties
git.ignore

/bin/